<div id="page-content">
    <h2 class="text-center mt-4 " id="page-title">Active alerts</h2>
    <% if @active_alerts.empty? %>
        <container>
        <div class="alert alert-success text-center" role="alert" style="max-width: 50%; margin: auto;">
            <h4 class="alert-heading">No active alerts</h4>
            <hr>
            <p class="mb-0">This means that all monitored hosts have the values for each parameter under the triggers value</p>
        </div>
        </container>
    <% else %>
        <table class="table table-sm table-dark table-bordered">
          <thead>
            <tr>
              
              <th class="text-center" scope="col">Alert name</th>
              <th class="text-center" scope="col">Host affected</th>
              <th class="text-center" scope="col">Severity</th>
              <th class="text-center" scope="col">Last value</th>
              <th class="text-center" scope="col">Since</th>
              <th class="text-center" scope="col">Resolved</th>
              <th class="text-center" scope="col">Actions</th>
           
            </tr>
          </thead>
            <tbody class="text-center">
                <% @active_alerts.unscoped.order("id DESC").each do |alert| %>
                    <%if alert.resolved %>
                        <tr class="resolved">
                    <%else%>
                        <% if alert.new %>
                            <% case alert.severity  %>
                            <% when "high" %>
                                <tr class="high">
                            <% when "warning" %>
                                <tr class="warning">
                            <% when "low" %>
                                <tr class="low">
                            <%end%>
                        <%else%>
                            <% case alert.severity  %>
                            <% when "high" %>
                                <tr class="high-old">
                            <% when "warning" %>
                                <tr class="warning-old">
                            <% when "low" %>
                                <tr class="low-old">
                            <%end%>
                        <%end%>
                    <%end%>
                        <td>
                            <% case alert.severity  %>
                            <% when "high" %>
                                <%= HostItem.where(id: alert.host_item_id).last.alert_name_high %>
                            <% when "warning" %>
                                <%= HostItem.where(id: alert.host_item_id).last.alert_name_warning %>
                            <% when "low" %>
                                <%= HostItem.where(id: alert.host_item_id).last.alert_name_low %>
                            <%end%>
                        </td>
                        <td ><%= Host.find(HostItem.where(id: alert.host_item_id).last.host_id).hostname %></td>
                        <td ><%= alert.severity.upcase%></td>
                        <td><%= HostItem.where(host_id: alert.host_id, item_id: alert.item_id).last.value%></td>
                        <td><%= alert.created_at%></td>
                        <td><%= alert.resolved_at %></td>
                        <td>
                        <%if alert.resolved %>
                            <%= link_to 'Delete', alert , method: :delete, class: "btn btn-danger text-white" , data: { confirm: 'Are you sure you want to remove this alert?' } %>
                        <%else%>
                            N/A
                        <%end%>
                        </td>
                    </tr>   
                <% end %>
            </tbody>
        </table>
        <% end %>
        
        
</div>

