<div id="page-content">
  
  <h2 class="text-center mt-4"><img src="<%= asset_path('host_icon.png') %>" class="img-fluid mx-auto d-block" width="90" 
    height="80"><%= @host.hostname %></h2>
  
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">

            <div class="card-body">
              <div class="card-text text-center font-weight-bold ">IP/FQDN: <%=  @host.ip_address_or_fqdn %> </div>
              <div class="card-text text-center font-weight-bold ">Owned by: <%=  User.find(@host.user_id).username %> </div>

              <div class="card-text text-center ">SSH user to connect: <%=  @host.user_to_connect%> </div>
              <div class="card-text text-center ">SSH port: <%=  @host.ssh_port %> </div>
              <div class="card-text text-center ">Run as sudo: <%=  @host.run_as_sudo %> </div>
              <% if @host.os != nil %>
                <div class="card-text text-center ">Operating system: <%=  @host.os %> </div>
              <% end %>
<!--          actions_array=Array.new
              <% #RemoteAction.where(user_id: @host.user_id).ids.each { |n|   actions_array.append(RemoteAction.find(n).action_name) } %>
-->
<!--              <%= form_with(url: apply_remote_action_path(:action_id,:host_id), method: :post, params: {format: @host_id}) do |form| %> 
                            send :id as params and list the name 
                <%= form.select :action_id , RemoteAction.where(user_id: @host.user_id).collect { |p| [  p.action_name , p.id] } %>
                <%= form.submit "Run" %>
              <%end%>
-->           
              <!--assigned_items_for_current_host is a host helper method that gets all the items assigned to host-->
              <% if !assigned_items_for_current_host(@host.id).blank?%>
                <%= form_with url: host_items_path, method: :post do  |form| %> 
                <%= form.select :item_id, (assigned_items_for_current_host(@host.id).collect{ |p| [p[1],p[0]] })%>
                  <%= hidden_field_tag(:host_id, @host.id) %>
                  <%= form.submit "Get assigned item now" %>
                <%end%>
              <%end%>

              <%= form_with url: host_items_path, method: :post do  |form| %> 
                <%= form.select :item_id , (not_assigned_items_for_current_host(@host.id).collect{ |p| [p[1],p[0]] })%>
                  <%= hidden_field_tag(:host_id, @host.id) %>
                  <%= form.submit "Add new item" %>
                <%end%>
              
              <% if !assigned_items_for_current_host(@host.id).blank?%>
                <%= form_with url: schedule_collector_job_path, method: :post do  |form| %> 
                  <%= form.select :item_id , (assigned_items_for_current_host(@host.id).collect{ |p| [p[1],p[0]] }) %>
                    <%= hidden_field_tag(:host_id, @host.id) %>
                    <%= form.submit "Create job for item" %>
                <%end%>
              <%end%>
          <div style="padding-bottom: 10px; padding-top: 15px; ">
          <% if !@items.blank? %>
            <table class="table table-hover">
              <thead class="table-info">
                <tr>
                  <th scope="col">Item name</th>
                  <th scope="col"></th>
                  <th scope="col">Last value</th>
                  <th scope="col"></th>
                  <th scope="col">Last read</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              
              <tbody>
                <% all_items = Item.all %>
                    <% all_items.each do |item| %>
                      <% if !HostItem.where(host_id: @host.id, item_id: item.id).blank? %>
                         <tr>
                          <th scope="row"><%= item.item_name %></th>
                          <td></td>
                          <td ><%= HostItem.where(host_id: @host.id, item_id: item.id).last.value %></td>
                          <td></td>
                          <td><%= HostItem.where(host_id: @host.id, item_id: item.id).last.created_at%></td>
                          <!--We will pass item id to HostItem destroy method so we could indetify all item values and delete all-->
                          <td><%= link_to "x", host_item_path(item_id: item.id), class: "btn-close btn-sm btn-danger", method: :delete, data: {confirm: "This will remove all data collected for this item. Are you sure?"} %></td>
                        </tr>
                      <% end %>
                    <% end %>
                </tbody>
              </table>
            </div>
              <%end%>
              <% if @current_user == User.find(@host.user_id) || @current_user.admin == true %>
                <%= link_to "Test connection", test_connection_path(@host.id), method: :get, class: "btn btn-outline-info" %> 
                <%= link_to "Edit", edit_host_path(@host), class: "btn btn-outline-info" %>
                <%= link_to "Delete", host_path(@host), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </div>

            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(@host.created_at) %> ago, 
              edited <%= time_ago_in_words(@host.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 