<div id="page-content">
  
  <h2 class="text-center mt-4"><%= @remote_action.action_name %></h2>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <% if @current_user == User.find(@remote_action.user_id) || @current_user.admin == true %>
            <p>Apply on host:</p>
            <!--local: false enables javascript-->
            <%= form_with url: apply_remote_action_path, method: :get, local: false do  |form| %> 
                <!-- send :id as params and list the hostnames -->
                <% if current_user.admin == true %>
                  <%= form.select :host_id , Host.all.collect { |p| [  p.hostname , p.id] } %>
                <%else%>
                  <%= form.select :host_id , Host.where(user_id: current_user).collect { |p| [  p.hostname , p.id] } %>
                <%end%>
                  <!--add hiddent field tag to add extra parameter to params hash-->
                  <%= hidden_field_tag(:remote_action_id, @remote_action.id) %>
                  <%= form.submit "Apply" %>
                <%end%>
                <div id="results"></div>
                <!--<%= render 'remote_actions/result' %> -->

                <% if !@remote_action.script %>
                  <div class="card-body">
                    <div class="form-group">
                      <textarea class="form-control rounded-5 code-bg" id="exampleFormControlTextarea1" rows="1"><%=  @remote_action.command_or_script %></textarea>
                    </div>
                  <%else%>
                    <div class="card-body">
                      <div class="form-group">
                        <textarea class="form-control rounded-5 code-bg" id="exampleFormControlTextarea1" rows="20" ><%=  @remote_action.command_or_script %></textarea>
                    </div>
                  <%end%>
              <%else%>
                  <% if !@remote_action.script %>
                    <div class="card-body">
                      <div class="form-group">
                        <textarea class="form-control rounded-5 code-bg" id="exampleFormControlTextarea1" rows="1" readonly><%=  @remote_action.command_or_script %></textarea>
                    </div>
                  <%else%>
                    <div class="card-body">
                      <div class="form-group">
                        <textarea class="form-control rounded-5 code-bg" id="exampleFormControlTextarea1 formControlReadonly" rows="20" readonly><%=  @remote_action.command_or_script %></textarea>
                    </div>
                <%end%>

            <% end %>       

              <% if @current_user == User.find(@remote_action.user_id) || @current_user.admin == true %>
                <%= link_to "Edit", edit_remote_action_path(@remote_action), class: "btn btn-outline-info" %>
                <%= link_to "Delete", remote_action_path(@remote_action), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
              <%= link_to "Back", remote_actions_path, class: "btn btn-outline-warning" %>
            </div>

            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(@remote_action.created_at) %> ago, 
              edited <%= time_ago_in_words(@remote_action.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 