<div id="page-content">
  <div class="container text-center">
    <h2 class="mt-4 animate-charcter" id="page-title">Items</h2>
    </div>
  <%= render 'shared/pagination', obj: @items %>

  <table class="table table-sm table-dark table-bordered ">
    <thead>
      <tr>
        
        <th class="text-center" scope="col">Item name</th>
        <th class="text-center" scope="col">Command to read</th>
        <th class="text-center" scope="col">Interval</th>
        <th class="text-center" scope="col">Actions</th>
     
      </tr>
    </thead>
    <tbody class="text-center">
      <% @items.each do |item| %>
        
          <tr>
            <td ><%= item.item_name %></td>
            <td ><%= item.command_to_read %></td>
            <td ><%= item.interval_to_read %></td>
            <td>
            <% if current_user.admin == true%>
              <%= link_to 'Edit', edit_item_path(item), class: "btn btn-warning text-white"%>
              <%= link_to 'Unassign', unassign_items_path(:id => item.id), class: "btn btn-primary text-white", data: { confirm: 'Are you sure you want to unassign '+item.item_name+' from all hosts?' }%>
              <%= link_to 'Delete', item, method: :delete, class: "btn btn-danger text-white" , data: { confirm: 'Are you sure you want to delete '+item.item_name+'?' } %>
            <%else%>
              <%= link_to 'Edit', edit_item_path(item), class: "btn btn-warning text-white disabled "%>
              <%= link_to 'Unassign', unassign_items_path(:id => item.id), class: "btn btn-primary text-white disabled", data: { confirm: 'Are you sure you want to unassign '+item.item_name+' from all hosts?' }%>
              <%= link_to 'Delete', item, method: :delete, class: "btn btn-danger text-white disabled" , data: { confirm: 'Are you sure you want to delete '+item.item_name+'?' } %>
            <%end%>
            <%= link_to 'View', item_path(item) , class: "btn btn-success text-white" %>

            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'shared/pagination', obj: @items %>
  <div class="text-center">
  <%= link_to 'Create', new_item_path, class: "btn btn-success text-white" %>
  <%= link_to 'Home', root_path , class: "btn btn-primary text-white" %>
  </div>
  </div>