<div id="page-content">
  
  <h2 class="text-center mt-4"><%= @item.item_name %></h2>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">

              <div class="card-text text-center font-weight-bold ">Command to get </div>
              <div class="form-group">
                <textarea class="form-control rounded-5 " id="exampleFormControlTextarea1" rows="1" readonly><%=  @item.command_to_read %></textarea>
              </div>
              <div class="card-text text-center font-weight-bold ">Interval to run:  <%=  @item.interval_to_read %></div>
              

              <%= link_to "Edit", edit_item_path(@item), class: "btn btn-outline-info" %>
              <%= link_to "Delete", item_path(@item), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              
              <%= link_to "Back", items_path, class: "btn btn-outline-warning" %>
            </div>

            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(@item.created_at) %> ago, 
              edited <%= time_ago_in_words(@item.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 